* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  background: #191b1d;
  font-family: "Euclid Circular A";
  color: #f7f7f7;
  animation: rotate 5s infinite alternate linear;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.card {
  width: 400px;
  padding: 60px 30px 32px;
  border-radius: 1.25rem;
  background: #131416;
  text-align: center;
  transition: 0.4s;
}

.card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 30px;
}

.card img {
  width: 260px;
  padding: 5px;
  margin-bottom: 10px;
}

.form {
  width: 100%;
  margin: 0;
  display: grid;
}

.form input.control::placeholder {
  color: rgb(255 255 255 / 30%);
}

.control {
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border: 0;
  background: #1c1e21;
  color: inherit;
  border-radius: 6px;
  margin: 8px 0;
  font-family: inherit;
  text-align: left;
  font-size: 18px;
  transition: 0.4s;
}

button.control {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #2386bd;
  color: #f7f7f7;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

button.control:disabled {
  opacity: 0.25;
}

.username {
  position: relative;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  right: 20px;
  translate: 0 -50%;
  width: 30px;
  height: 30px;
  visibility: hidden;
  opacity: 0;
  border-radius: 50%;
  border: 3px solid rgb(255 255 255 / 10%);
  border-top-color: #68e1fd;
  animation: spin 0.6s infinite linear;
  transition: 0.3s;
}

.spinner.loading {
  visibility: visible;
  opacity: 1;
}

.validation {
  display: flex;
  align-items: center;
  height: 0;
  overflow: hidden;
  color: #b13950;
  transition: 0.3s;
}

.validation.invalid {
  height: 30px;
}
